* {
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* outline: 1px solid red; */
  /* background-color: black; */
  color: white;
}

.main-nav {
  height: 60px;
  background-color: #13211f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  /* margin-right: 1px; */
  /* padding: 5px 0 5px 0; */
  height: 50px;
  width: 160px;
  display: flex;
  align-items: center;
}

.logo {
  padding: 3px 0 0 0;
  background-image: url(amazon_logo.png);
  height: 30px;
  width: 100%;
  background-size: cover;
}

.border {
    padding: 0 10px;
    height: 100%;
  border: 1px solid transparent;
  border-radius: 2px;
}
.border:hover {
  border: 1px solid rgb(241, 236, 236);
}

.nav-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-add-up {
  margin-left: 18px;
  font-weight: 100;
  font-size: small;
  color: #cccccc;
}
.nav-address-2 {
  display: flex;
  gap: 5px;
  font-size: bold;
}
.nav-add-down {
  font-weight: bold;
}

.search {
  display: flex;
  height: 35px;
  width: 600px;
  justify-content: space-evenly;

  /* background-color: red; */
  /* justify-content: center;
    align-items: centerS; */
}

.search-select {
  text-align: center;
  background-color: #cccccc;
  color: #13211f;
  width: 50px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-input {
  width: 100%;
  color: #000000;
  border: none;
  padding-left: 5px;
}
.search-icon {
  width: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: #febd69;
}

.nav-acc {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;

}
.line-1 {
  font-size: small;
  cursor: pointer;
}
.line-2 {
  font-size: small;
  font-weight: bold;
  cursor: pointer;
}
.returns {
    display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
}
.up-line{
    font-size: small;
    cursor: pointer;
}
.down-line{
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    
}
.nav-cart{
    display: flex;
    gap: 5px;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.cart-icon{
    font-size: 1.5rem;
}
.cart {
    /* font-size: small; */
    font-weight: bold;
}

.sec-nav {
  padding-left: .85rem;
  background-color: #232f3e;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  


}
.sec-nav-links a{
padding-left: .85rem;
cursor: pointer;

}
.main-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-image: url(main\ img.jpg);
  height: 300px;
  width: 100%;
  background-size: cover;
  /* z-index: 1; */
  overflow: visible;
}
.main-img-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 229, 128, 0.977);
  color: black;
  height: 40px;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 50px;
}

.shop-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #e3e6e6;
  

  
}
.box {
  /* border: 2px solid black; */
  height: 400px;
  width: 24%;
  border-radius: 5px;
  padding: 20px 0 15px;
  margin: 1rem 0;
  background-color: white;
  
  
}
.box-container {
 
margin: 0 1rem;

}
.shop-img {
  background-repeat: none;
  background-size: cover;
  height: 300px;
  border-radius: 3px;
  margin: 1rem 0 1.5rem 0;
  
}
.box h2 {
  color: #000000;

}
.box a {
  color: #186bae;

}
.box a:hover {
  color: #0b528b;
  text-decoration: underline;
  cursor: pointer;

}

.login-form-container {
  height: 350px;
  width: 100%;
  background-color: #e3e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2.5rem 0;
  
}

.login-form{
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 245, 245);
  padding: 2rem;
  border-radius: 5px;
}
.login-form h2 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  /* text-align: center; */
  margin-bottom: 10px;
}
.login-form input {
  background-color: #efebeb;
  color: black;
  height: 3rem;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0 1rem;
  margin: 1rem 0;
  border: none;
  
}
.login-form button {
  background-color: #ffac40;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  height: 3rem;
  border-radius: 5px;
  margin: 1rem 0;
  border: none;

}

.login-form button:hover {
  background-color: #fe9f23;
  border: .5px solid #000000;
}
footer {
  background-color: #232f3e;
  /* display: flex; */


}
.footer-top {
  height: 50px;
  background-color: #37475a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-top p {
  font-size: 1rem;
  font-weight: 500;
}
.footer-top p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.footer-content {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
  /* align-items: center; */

}
.footer-content a, h3 {
  display: block;
  margin: 10px  ;
}